{% extends 'base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">

  <!--Content before waves-->
  <div class="inner-header flex">
  <!--Just the logo.. Don't mind this-->
  
  <h1>IELTS, CAMBRIDGE, TOEFL</h1>
  </div>
  
  <!--Waves Container-->
  <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div>
  <!--Waves end-->
  
  </div>
  <!--Header ends-->




<br><br><br><br>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Crea tu usuario</h1>
      <h5 class="w3-padding-32">Creando tu usuario tendras muchas ventajas que facilitarán tu proceso de enseñanza.</h5>

      <p class="w3-text-grey"><ul><strong>AUMENTA LA PRIVACIDAD</strong></ul>
        Permiten separar la información que almacena cada usuario en su cuenta. Muy útil, si te interesa que nadie acceda a tu documentación almacenada porque contiene datos bancarios, fotos y documentación privada.</li>
        <br><br>
        <ul><strong>MEJORA LA SEGURIDAD</strong></ul>
        Es posible limitar el daño, que pueda  ocasionar un virus en el ordenador, en caso de que uno de los usuarios infecte el ordenador, al descargar un fichero adjunto del correo electrónico que contenía algún virus, al introducir un USB que estaba infectado o al visitar alguna página web maliciosa.</li>
        <br><br>
        <ul><strong>PERMITE LA PERSONALIZACIÓN</strong></ul>
        Se puede configurar a tu gusto el escritorio del ordenador -colores, tamaño de los iconos, tamaño texto, fondo de pantalla, etc.- tener tus páginas web favoritas en el navegador, etc.</li></p>
    </div>

    <div class="w3-third w3-center">
      <a href="registro">
      <i class="fa fa-user-o w3-padding-64 w3-text-blue"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <a href="contenido">
      <i class="fa fa-book w3-padding-64 w3-text-blue w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>IELTS, CAMBRIDGE and TOEFL</h1>
      <h5 class="w3-padding-32">En esta sección verás todos las pruebas que tenemos para tí, así como ademas, guías resueltas y diferentes tips para amenizar el estudio..</h5>

      <p class="w3-text-grey"><ul><strong>It is the test for study</strong></ul>  Thousands of the world’s most reputable universities and colleges will accept your IELTS, Cambridge and TOEFL results as evidence of your English language proficiency.
        <br><br>
        <ul><strong>It is the test for professionals</strong></ul>  Professional registration bodies in many fields will accept an IELTS, Cambridge and TOEFL result, including accounting, engineering, law, medicine, nursing, pharmacy, and teaching bodies in many countries. This means that after completing your studies, you may need to take the test to gain professional registration in an English-speaking country. If you choose IELTS, Cambridge and TOEFL as the test you take to enter university, you will be familiar with the IELTS test format when you sit it again for professional registration.
        <br><br>
        <ul><strong>It is the test for migration</strong></ul>  IELTS, Cambridge and TOEFL  is accepted by governments in more countries than any other English language test as a requirement for permanent residency. The governments of the UK, Australia, Canada, and New Zealand accept IELTS results. The IELTS, Cambridge and TOEFL  score you need depends on the requirements of your visa.</p>
    </div>
  </div>
</div>

<br><br><br><br>

<h2 class="text-center fw-bolder">La opinión de nuestros estudiantes.</h2>
<br><br><br><br><br><br>





<div class="row">
  <div class="column">
    <div class="card">
      <img src="static/css/tipo.jpg" class="card-img-top" alt="..."><br>
      <h5 class="card-title">Joaquin</h5>
      <p class="card-text">Las clases son motivadoras y divertidas y la conversación siempre se trata de temas interesantes. Mi profesor es muy amable, profesional y siempre responde a mis dudas y necesidades particulares.  Recomiendo mucho LearnEnglish.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="static/css/empresario.jpg" class="card-img-top" alt="..."><br>
      <h5 class="card-title">Mario</h5>
      <p class="card-text">Las clases son motivadoras y divertidas y la conversación siempre se trata de temas interesantes. Mi profesor es muy amable, profesional y siempre responde a mis dudas y necesidades particulares.  Recomiendo mucho LearnEnglish.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="static/css/guy.jpg" class="card-img-top" alt="..."><br>
      <h5 class="card-title">Pedro</h5>
      <p class="card-text">Las clases son motivadoras y divertidas y la conversación siempre se trata de temas interesantes. Mi profesor es muy amable, profesional y siempre responde a mis dudas y necesidades particulares.  Recomiendo mucho LearnEnglish.</p>
    </div>
  </div>
</div>

<br><br><br><br><br>





<div class="row">
  <div class="column">
    <div class="card">
      <img src="static/css/happy.jpg" class="card-img-top" alt="..."><br>
      <h5 class="card-title">Mariano</h5>
      <p class="card-text">Las clases son motivadoras y divertidas y la conversación siempre se trata de temas interesantes. Mi profesor es muy amable, profesional y siempre responde a mis dudas y necesidades particulares.  Recomiendo mucho LearnEnglish.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="static/css/man.jpg" class="card-img-top" alt="..."><br>
      <h5 class="card-title">Enrique</h5>
      <p class="card-text">Las clases son motivadoras y divertidas y la conversación siempre se trata de temas interesantes. Mi profesor es muy amable, profesional y siempre responde a mis dudas y necesidades particulares.  Recomiendo mucho LearnEnglish.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="static/css/sad.jpg" class="card-img-top" alt="..."><br>
      <h5 class="card-title">Olivia</h5>
      <p class="card-text">Las clases son motivadoras y divertidas y la conversación siempre se trata de temas interesantes. Mi profesor es muy amable, profesional y siempre responde a mis dudas y necesidades particulares.  Recomiendo mucho LearnEnglish.</p>
    </div>
  </div>
</div>

<br><br><br><br><br>
 

<div class="card">
  <div class="text-center fw-bolder">
      Aprende Ingles con los mejores
  </div>
  <div class="card-body">
    <h5 class="card-title">Dejanos tu comentario</h5>
    <a href="comentario" class="btn btn-primary">Comentario</a>
   </div>
</div>





{% endblock content%}